/* Primaria Cor #1e88e5 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
     
body{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',  sans-serif !important;

}

#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 90vh;
}

#logo{
    width: 200px;
}

.box_one{
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}


.box_duo{
    position: relative;
    top: 100px;
    width: 400px;
    float: left;
    font-size: 20px;
    text-align: center;
    height: 760px;
    padding: 50px;
    padding-top: 20px;
    border-radius: 20px;
    color: #000000;
    font-weight: 100;
    box-shadow: 4px 4px 20px grey;
    border: 1px solid grey;
    z-index: 1;
}

.box_duo input {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid #0099FF;
}

.box_duo input:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.box_duo button {
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0580d3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}



.box_duo button:hover{
    background-color: transparent;
    box-shadow: 2px 2px 10px #0580d3;
    color: #0580d3;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    height: 500px;
    padding: 20px;
    box-shadow: 4px 4px 20px #0580d3;
}

.container button {
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0580d3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.container button:hover {
    background-color: transparent;
    box-shadow: 2px 2px 10px #0580d3;
    color: #0580d3;
}

.container #ValorOrcamento{
    margin-top: 150px;
    font-size: 80px;
}

.container{
    display: none;
}